<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psnChatStyle</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>shiina</string>
			<key>CFBundleTypeName</key>
			<string>Chat Style</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ca.kirara.poison.ChatStyle</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psnSounds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>shiina</string>
			<key>CFBundleTypeName</key>
			<string>Sound Scheme</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>ca.kirara.poison.SoundSet</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Poison</string>
	<key>CFBundleIdentifier</key>
	<string>ca.kirara.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.11</string>
	<key>CFBundleSignature</key>
	<string>PSON</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>shiina</string>
			<key>CFBundleURLName</key>
			<string>ca.kirara.poison.FriendURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tox</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>120</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>s-s-stop it onii-chan it hurts</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>SCGitRef</key>
	<string>6a19350</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ca.kirara.poison.ChatStyle</string>
			<key>UTTypeIconFile</key>
			<string>shiina</string>
			<key>UTTypeIdentifier</key>
			<string>ca.kirara.poison.ChatStyle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>psnChatStyle</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ca.kirara.poison.SoundSet</string>
			<key>UTTypeIconFile</key>
			<string>shiina</string>
			<key>UTTypeIdentifier</key>
			<string>ca.kirara.poison.SoundSet</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>psnSounds</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
