<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aiThemeAuthor</key>
	<string>stal</string>
	<key>aiThemeBackgroundColor</key>
	<string>FBFBFB</string>
	<key>aiThemeDescription</key>
	<string>The default chat style used by Poison.</string>
	<key>aiThemeHumanReadableName</key>
	<string>Default</string>
	<key>aiThemeShortVersionString</key>
	<string>1.0</string>
	<key>aiThemeBaseTemplateName</key>
	<string>themebase.html</string>
</dict>
</plist>
