<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aiThemeAuthor</key>
	<string>stal</string>
	<key>aiThemeBackgroundColor</key>
	<string>E2E8F3</string>
	<key>aiThemeBarBorderColor</key>
	<string>B6B9C4</string>
	<key>aiThemeBarBottomColor</key>
	<string>D9DDE2</string>
	<key>aiThemeBarHighlightColor</key>
	<string>FFFFFF</string>
	<key>aiThemeBarTextColor</key>
	<string>000000</string>
	<key>aiThemeBarTopColor</key>
	<string>E4E9F3</string>
	<key>aiThemeBaseTemplateName</key>
	<string>themebase.html</string>
	<key>aiThemeDescription</key>
	<string>The default chat style used by Poison.</string>
	<key>aiThemeHumanReadableName</key>
	<string>Default</string>
	<key>aiThemeShortVersionString</key>
	<string>1.1.3</string>
</dict>
</plist>
